<h1>Add Person</h1>

<form action="/save_person">
  <input type="text" placeholder="Name" name="name">
  <select name="profession">
    <option value="Actor">Actor</option>
    <option value="Director">Director</option>
  </select>
  <input type="submit">
</form>

<ul>
  <li><a href="add_menu">Add menu</a></li>
  <li><a href="homepage">Main menu</a></li>
</ul>