<h1>Add Movie</h1>

<form action="/save_movie">
  <input type="text" placeholder="Movie Title" name="title">
  <input type="text" placeholder="Genre" name="genre">
  <!--<input type="text" placeholder="Location (optional)" name="location">-->
  <input type="submit">
</form>

<ul>
  <li><a href="add_menu">Add menu</a></li>
  <li><a href="homepage">Main menu</a></li>
</ul>