<h1>Add Menu</h1>
<h2>Make a selection:</h2>

<ul>
  <li><a href="/add_movie_form">Add a movie</a>
  <li><a href="/add_person_form">Add an actor or director</a>
  <li><a href="/add_location_form">Add a location</a>
  <li><a href="/homepage">Main menu</a>
</ul>