<h1>Add Location</h1>

<form action="/save_location">
  <input type="text" placeholder="Location" name="location">
  <input type="text" placeholder="Description" name="description">
  <input type="submit">
</form>

<ul>
  <li><a href="add_menu">Add menu</a></li>
  <li><a href="homepage">Main menu</a></li>
</ul>