<h1>Edit Menu</h1>
<h3>Make a selection:</h3>

<ul>
  <li><a href="/edit_movie">Edit Movie</a>
  <li><a href="/edit_person">Edit Person</a>
  <li><a href="/edit_location">Edit Location</a>
  <li><a href="/homepage">Main menu</a>
</ul>