<h1><%= @new_person.name %> Updated!</h1>
<h3>Profession changed to <%= @new_person.profession %></h3>

<ul>
  <li><a href="edit_menu">Edit menu</a></li>
  <li><a href="homepage">Main menu</a></li>
</ul>