<h1>A list of all movies in the database:</h1>
<ul>
  <% @all_movies.each do |movie| %>
    <li><%= movie.title %>
      <ul>
        <!--< li>ID: <%= movie.id %></li> -->
        <li>Genre: <%= movie.genre %></li>
        <li>Location: <%= movie.location.location %></li>
      </ul>
    </li>
  <% end %>
</ul>

<ul>
  <li><a href="view_menu">View menu</a></li>
  <li><a href="homepage">Main menu</a></li>
</ul>