<h1>A list of all movies in the database:</h1>

<ul>
  <% Movie.all.each do |movie| %>
    <li>ID: <%= movie.id %> -- <%= movie.title %>, Genre: <%= movie.genre %> Location ID: <%= movie.location_id %></li>
  <% end %>
</ul>

<ul>
  <li><a href="view_menu">View menu</a></li>
  <li><a href="homepage">Main menu</a></li>
</ul>