<h1>View Menu</h1>
<h3>Make a selection:</h3>

<ul>
  <li><a href="/view_movies">View all Movies</a>
  <li><a href="/view_people">View all People</a>
  <li><a href="/view_locations">View all Locations</a>
  <li><a href="/view_movies_by_location">View all Movies with a given location</a>
  <li><a href="/homepage">Main menu</a>
</ul>